*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3{
    color: hsl(234, 100%, 8%);
    font-family: 'Poppins', sans-serif;
}

p, .p-1, .p-2, a, label, ul, li{
    font-family: 'Open Sans', sans-serif;
    color: hsl(234, 100%, 8%);
}

h1 span{
    font-size: 1.15em;
    display: block;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 5px;
}

h1 span:first-child{
    color: hsl(234, 100%, 8%);
    margin-bottom: ;
}

h1 span:last-child{
    color: hsl(40, 93%, 42%);
}

h2{
    margin-bottom: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid hsl(40, 93%, 42%);
}

h3{
    font-size: 1.3em;
    margin-bottom: 25px;
}

p{
    font-size: 1em;
}

.p-1{
    font-size: 1em;
    text-align: justify;
    line-height: 1.9em;
}

.p-1:nth-child(2){
    margin-bottom: 10px;
}

.p-2{
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
    color: hsl(0, 0%, 100%);
}

label{
    font-size: 1em;
}

.top-header{
    position: fixed;
    background-color: hsl(0, 0%, 100%);
    min-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 30px;
    justify-content: space-between;
    height: 55px;
    box-shadow: 0 0 2px 1px hsla(0, 2%, 74%, 0.722);
    z-index: 2;  
}

.hero{
    flex: 85%;
}

.hero img{
    width: 40%;
}

.nav-links{
    visibility: hidden;
    flex: 20%;
}

.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 70%;
    position: relative;
    display: inline-block;
    float: right;
    background-image: url(images/192-menu3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    margin-top: 5px;
}

.dropbtn{
    border: none;
    cursor: pointer;
    
}

.dropbtn img{
    min-width: 170%;
}

.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: hsl(0, 0%, 98%);
    min-width: 140px;
    z-index: 1;
}

.dropdown-content a:not(.active-mb){
    color: hsl(234, 100%, 8%);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9em;
}

.dropdown-content a:hover{
    background-color: hsl(0, 0%, 95%);
}

.hamburger:hover{
    background-image: url(images/193-menu4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    margin-top: 5px;
}

.hamburger:hover .dropdown-content{
    display: block;
}

.active-mb{
    font-weight: 700;
    color: hsl(234, 100%, 8%);
    padding: 12px 16px;
    text-decoration: underline;
    text-decoration-color: hsl(40, 93%, 42%);
    text-decoration-thickness: 2px;
    display: block;
    font-size: 0.9em;
}

.intro-section{
    background-color: rgba(226, 224, 224, 0.194);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 170px 0 110px;
    margin-bottom: 20px;
    background-image: url("images/bg-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro-text{
    text-align: center;
    flex: 100%;
}

.avatar{
    flex: 100%;
    text-align: center;
    width: 60%;
    border-radius: 10%;
    box-shadow: 0 0 1px 1px hsla(0, 2%, 74%, 0.722);
}

.avatar img{
    max-width: 100%;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.about-me-pic{
    text-align: center;
    width: 70%;
    margin-bottom: 40px;
    border-radius: 15px;
}

.about-me-pic img{
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 0 2px 3px hsla(0, 2%, 74%, 0.722);
}

.skills{
    margin-bottom: 20px;
    padding: 20px;
}

label{
    margin-bottom: 10px;
}

#file{
    border: 1px solid white;
    width: 100%;
}

.hobbies{
    margin-bottom: 20px;    
    font-size: 1em;
    padding: 20px;
}

.hobbies ul{
    list-style-position: inside;
 }

.hobbies ul li{
    list-style-type:square;
    line-height: 1.7em;
}

.priorities{
    margin-bottom: 110px;    
    font-size: 1em;
    padding: 20px;
}

.priorities ul{
    list-style-position: inside;
}

.priorities ul li{
    list-style-type:square;
    line-height: 1.7em;
}

.footer{
    position: relative;
    z-index: 1;
}

.footer-container{
    padding: 90px 20px;
    background-color: hsl(234, 100%, 8%);
}

.card-wrapper{
    position: absolute;
    z-index: 1;
    bottom: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87%;
}

.card--{
    border-radius: 18px;
    padding: 30px 20px 35px 20px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    width: 87%;
    box-shadow: 0px 0px 9px hsla(0, 5%, 75%, 0.365); 
}

.card-btn{
    background-color: hsl(40, 93%, 42%);
    padding: 8px 20px 9px;
    border-radius: 33px;
    font-size: 0.7em;
    letter-spacing: 0.03rem;
    font-weight: bold;
    width: 80%;
    color: hsl(0, 0%, 100%);
}

.card-btn:hover{
    background-color: hsla(40, 93%, 42%, 0.5);
}

.footer-logo{
    margin-bottom: 20px;
}

.footer-logo img{
    width: 40%;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.footer-wrapper-contact{
    flex: 100%;
    margin-bottom: 20px;
}

.icon-location{
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.96rem;
    line-height: 1.6rem;
    margin-bottom: 17px;
    color: hsl(0, 0%, 100%);
}

.icon-location img{
    margin: 6px 19px 0 0;
    max-width: 67%;
    height: 40%;
    color: hsl(0, 0%, 100%);
}

.icon-phone{
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.96rem;
    line-height: 2.2rem;
    margin-bottom: 11px;
    color: hsl(0, 0%, 100%);
}

.icon-phone img{
    margin: 9px 14px 0 0;
    max-width: 6%;
    height: 40%;
}

.icon-email{
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.96rem;
    line-height: 2.2rem;
    margin-bottom: 10px;
    color: white;
}

.icon-email img{
    margin: 12px 12px 0 0;
    max-width: 7%;
    height: 70%;
}

.footer-wrapper-links{
    flex: 100%;
}

.footer-links-content li a{
    display: inline-block;
    padding: 12px 0;
    color: hsl(0, 0%, 100%);
}

.footer-links-content li a:hover{
    text-decoration: underline;
}

.social-links{
    flex: 100%;
    text-align: center;
}

.social-links .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    width: 180px;
    margin: 20px auto 30px;
}

.social-links .icons img{
    flex: 100%;
}

.icon-twitter,
.icon-instagram,
.icon-github,
.icon-linkedln{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 5px 4px 2px 4px;
}

.icon-twitter svg:hover #twitter, 
.icon-instagram svg:hover #instagram, 
.icon-github svg:hover #github,
.icon-linkedln svg:hover #linkedln { 
  fill: hsl(40, 93%, 42%);
  cursor: pointer;
}

.icon-twitter:hover, 
.icon-instagram:hover, 
.icon-github:hover,
.icon-linkedln:hover{
    border: 1px solid hsl(40, 93%, 42%);
}

.footer-copyright{
    margin-top: 10px;
    padding: 0;
}

@media only screen and (max-width: 500px) and (min-width: 390px){
    .hero img{
        width: 30%;
    }
}

@media only screen and (max-width: 574px) and (min-width: 501px){
    .hero img{
        width: 24%;
    }
}

@media only screen and (min-width: 575px){
    h1 span{
        font-size: 1.8em;
        display: block;
        line-height: 1.4em;
        text-align: center;
        margin-bottom: 5px;
    }
    
    h2{
        font-size: 1.8em;
    }

    h3{
        font-size: 1.6em;
    }

    p{
        font-size: 1.5em;
    }

    .p-1{
        font-size: 1.2em;
        text-align: justify;
        line-height: 1.9em;
    }
    
    .p-1:nth-child(2){
        margin-bottom: 10px;
    }

    label{
        font-size: 1.2em;
    }
    
    .top-header{
        padding: 5px 30px;
    }

    .hero{
        flex: 45%;
    }

    .hero img{
        width: 45%;
    }

    .nav-links{
        visibility: visible;
        flex: 100%;
    }
    .nav-links ul{
        display: block;
        float: right;
    }
    
    .nav-links ul li{
        display: inline-block;
        font-size: 0.95em;
    }

    .nav-links ul li:not(#li){
        padding: 15px 15px;
    }

    .nav-links ul #li{
        padding: 15px 0 15px 10px;
    }
    
    .nav-links ul li a{
        color: hsl(234, 100%, 8%);
        padding-bottom: 8px;
    }
    
    .nav-links ul li a:hover:not(.active){
        border-bottom: 1px solid hsl(40, 93%, 42%);
    }

    .hamburger{
        display: none;
    }

    .active {
        border-bottom: 2px solid hsl(40, 93%, 42%);
        font-weight: 700;
    }

    .about-me-pic img{
        max-width: 60%;
    }

    .hobbies,
    .priorities{
        font-size: 1.2em;
    }

    .priorities{
        margin-bottom: 160px;
    }

    .footer-container{
        padding: 110px 20px;
    }
    .card-wrapper{
        left:6%;
    }

    .card--{
        padding: 50px 20px 50px 20px;
    }

    .card-btn{
        font-size: 1.1em;
        padding: 9px 27px 10px;
    }

    .footer-logo img{
        width: 15%;
    }
    .icon-location,
    .icon-phone,
    .icon-email{
        font-size: 1.1em;
    }

    .icon-location{
        margin-bottom: 19px;
    }

    .icon-phone{
        margin-bottom: 13px;
    }

    .icon-email{
        margin-bottom: 12px;
    }

    .footer-links-content{
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 670px){
    .nav-links ul li:not(#li){
        padding: 15px 25px;
    }

    .nav-links ul #li{
        padding: 15px 0 15px 10px;
    }
    
    .hero img{
        width: 38%;
    }
}

@media only screen and (max-width: 999px) and (min-width: 760px){
    .hero img{
        width: 29%;
    }
}

@media only screen and (min-width: 1000px){
    h1 span{
        font-size: 1.7em;
    }
    
    h1 span:first-child{
        text-align: left;
    }
    
    h1 span:last-child{
        text-align: left;
    }
    
    h2{
        font-size: 2.2em;
        margin-bottom: 30px;
        padding-bottom: 5px;
        border-bottom: 2px solid hsl(40, 93%, 42%);
        color: hsl(234, 100%, 8%);
    }
    
    h3{
        font-size: 1.8em;
        margin-bottom: 30px;
    }

    p{
        font-size: 1.4em;
        text-align: left;
    }
    
    .p-1{
        font-size: 1.1em;
        text-align: justify;
        line-height: 1.7em;
    }
    
    .p-1:nth-child(2){
        margin-bottom: 10px;
    }

    .p-2{
        font-size: 0.7rem;
        text-align: center;
        margin: 0;
    }
    
    .top-header{
        padding: 10px 30px;
        gap: 30px;
        height: 70px;
        box-shadow: 0 0 2px 1px hsla(0, 2%, 74%, 0.722);
    }
    
    .hero{
        flex: 50%;
    }

    .hero img{
        width: 18%;
        height: 100%;
    }
    
    .nav-links{
        visibility: visible;
        flex: 55%;
    }

    .nav-links ul li:not(#li){
        padding: 15px 30px;
    }

    .nav-links ul #li{
        padding: 15px 0 15px 30px;
    }
    
    .nav-links ul li a{
        color: hsl(192, 100%, 9%);
        padding-bottom: 12px;
    }

    .nav-links ul li a:hover:not(.active){
        border-bottom: 1px solid hsl(40, 93%, 42%);
    }
    
    .active {
        border-bottom: 2px solid hsl(40, 93%, 42%);
        font-weight: 700;
    }
    
    .intro-section{
        flex-direction: row;
        gap: 30px;
        padding: 190px 70px;
        background-image: url("images/bg-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
    }
    
    .intro-text{
        text-align: center;
        flex: 55%;
    }

    .avatar{
        flex: 45%;
        text-align: center;
        border-radius: 10%;
        box-shadow: 0 0 1px 1px hsla(0, 2%, 74%, 0.722);
    }
    .avatar img{
        width: 100%;
    }
    
    .about-me{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        gap: 20px;
        margin: 100px auto 20px;
        width: 950px;
    }
    
    .about-me-pic{
        flex: 50%;
        text-align: center;
        margin-bottom: 40px;
        border-radius: 15px;
    }

    .about-me-pic img{
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 0 2px 2px hsla(0, 2%, 74%, 0.722);
    }
    
    .about-me-text{
        padding-right: 20px;
        flex: 50%;
    }

    .skills{
        margin: 0 auto 80px;
        padding: 0px 90px;

    }
    label{
        font-size: 1.1em;
    }
    
    #file{
        border: 1px solid white;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .hobbies{
        margin-bottom: 80px;    
        font-size: 1.1em;
        padding: 0px 90px;
    }

    .hobbies ul li{
        line-height: 1.9em;
    }
    
    .priorities{
        margin-bottom: 200px;    
        font-size: 1.1em;
        padding: 0px 90px;
    }
    
    .priorities ul li{
        line-height: 1.9em;
    }

    .footer-container{
        padding: 90px 30px;
    }
    .card-wrapper{
        bottom: 85%;
        left: 6%;
        width: 86%;
    }
    
    .card--{
        border-radius: 14px;
        padding: 0 15px 70px 15px;
        width: 80%;
    }

    .card-content{
        padding-top: 0px;
        margin-top: 60px;
    }
    
    .card-btn{
        padding: 15px 40px;
        font-size: 1em;
        max-width: 60%;
    }

    .footer-logo{
        margin-bottom: 20px;
        padding: 50px 0 0 0;
    }
    
    .footer-logo img{
        width: 15%;
    }
    
    .footer-wrapper{
        flex-direction: row;
        padding: 10px 150px 50px 0;
    }
    
    .footer-wrapper-contact{
        flex: 140%;
        margin-bottom: 20px;
    }
    
    .icon-location{
        flex-direction: row;
        margin-bottom: 20px;
        font-size: 0.8em;
    }
    
    .icon-phone{
        flex-direction: row;
        font-size: 0.8rem;
        margin-bottom: 12px;
    }
    
    .icon-email{
        flex-direction: row;
        font-size: 0.8rem;
    }
    
    .footer-wrapper-links{
        flex: 70%;
    }
    
    .footer-links-content{
        font-size: 0.8em;
        margin-top: -8px;
    }

    .footer-copyright{
        padding-right: 70px;
        float: right;
    }
}

@media only screen and (min-width: 1200px){
    h1 span{
        font-size: 2.4em;
    }

    p{
        font-size: 1.7em;
        text-align: left;
    }

    .hero img{
        width: 11%;
        height: 100%;
    }

    .nav-links{
        visibility: visible;
        flex: 28%;
    }

    .nav-links ul li:not(#li){
        padding: 15px 28px;
    }

    .nav-links ul #li{
        padding: 15px 0 15px 20px;
    }
    
    .about-me{
        width: 1200px;
    }

    .about-me-text{
        padding-right: 100px;
        flex: 50%;
    }
}